.footer
  background-color: $dark
  color: $light
  padding-top: 108px
  padding-bottom: 46px
  &-wrapper
    display: grid
    grid-template-columns: repeat(4, minmax(min-content, 1fr))
    grid-gap: 30px
    grid-auto-rows: minmax(30px, min-content)
    align-items: start
  &__logo
    width: 166px
    grid-row: 1 / 3
    align-self: center
  &__categories
    grid-row: 1 / 4
  &__social
    &-links
      display: flex
      align-items: center
      min-width: 83px
      justify-content: space-between
    &-network
      display: flex
      align-items: start
      grid-row: 2 / 4
      grid-column: span 2
  &__contact
    &-details
      grid-column: span 2
    &-form
      grid-column: span 2
  &__form
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
  &__ul
    padding: 0
    margin: 0
    list-style: none
    &--horizontal
      width: 283px
      display: flex
      align-content: end
      justify-content: space-between
  &__title
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    margin: 0 0 16px 0
    &--inline
      margin: 0 43px 0 0
    &--mb-3
      margin-bottom: 15px
  &__item
    display: flex
    align-items: flex-start
    font-style: normal
    font-weight: bold
    font-size: 14px
    line-height: 160%
    color: $footer-text-color
    &-under
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      color: #fff
    &--mb-2
      margin-bottom: 20px
  &__icon
    &-wrapper
      min-width: 30px
  &__text
    color: $footer-text-color
    margin-bottom: 22px
  &__link
    text-decoration: none
    color: inherit
  &__input
    width: 100%
    &-group
      position: relative
      margin-top: 25px
      flex-basis: 48%
  &__message
    flex-basis: 100%
    margin-top: 25px
    margin-bottom: 23px
  &__media-wrapper
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
  &__info
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: #E0E0E0
  &__buttom-wrapper
    display: grid
    align-items: center
    grid-row: 5
    grid-column: 1 / 6
    grid-template-columns: repeat(4, minmax(min-content, 1fr))
    padding-top: 70px
  &__disclaimer
    grid-column: 2 / 4
    display: flex
    justify-content: center
  &__pay
    &-card
      text-align: end
      grid-column: 4 / 5
      padding-right: 20px
  &__legal
    display: grid
    justify-items: end

.footer__form label
  position: absolute
  flex-basis: content
  top: 52px
  left: 0